body {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

h1 {
    margin: 0;
}

.top {
    background-color: #E36414;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
}

.middle{
    background-color: blue;
    border: solid 20px;
    height: 200px;
    width: 200px;
    margin-left: 259.2px;
}

.bottom{
    background-color: red;
    border: solid 10px;
    height: 200px;
    width: 200px;
    margin-left: 499.2px;
}