body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted #40514e 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

h1 {
    margin: 0 auto 0 auto;
    font-size: 100px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 40px;
    /* To reduce or increase the thickness of the font */
    font-weight: normal;
    line-height: 2;
    padding-bottom: 10px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
}

p {
    font-size: 2rem;
    line-height: 2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-cloud,
.bottom-cloud {
    position: absolute;
}

.top-cloud {
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    left: 250px;
    bottom: 300px;
}

.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 100px auto;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.textUnderline {
    text-decoration: underline;
}

.intro {
    width: 52%;
    margin: auto;
}

.contact-message {
    width: 40%;
    /* margin: top, left and right, bottom */
    margin: 40px auto 60px;
}

.copyright{
    color: #eaf6f6;
    font-size: 1.3em;
    padding: 20px 0;
}

.skill-row {
    width: 50%;
    /* to center the design use: (display: inline-block or margin: auto) */
    margin: 100px auto 100px auto;
    text-align: left;
}

.code-img {
    width: 25%;
    /* to display text right side of image we will float the image to left and the text automatically goes to right side of image */
    float: left;
    /* gives some extra space between image and text */
    margin-right: 30px;

    border-radius: 10%;
    overflow: hidden;
    /* This ensures that the image stays within the circular boundaries */
}

.chilli-img {
    width: 25%;
    /* to display text left side of image we will float the image to right and the text automatically goes to left side of image */
    float: right;
    /* gives some extra space between image and text */
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc480);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc480);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc480);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc480);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc480);
    text-decoration: none;
}

/* 
-- My code to put top-cloud on top right of name

.top-container {
    position: relative;
} 

h1 {
    //width: 13%;
    //if we use width mostly we also should margin style to align
    //margin: top right bottom left (or) margin: (top and bottom) (left and right) [with single value for each] , etc..
    margin: 0 auto 0 auto; 
    margin: 0 auto; 
    
    //MyCode: 
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 100px;
    
}

.bottom-cloud, .top-cloud{
    position: absolute;
}

.top-cloud{
    right: 570px;
    top: 20px;
    bottom: 0;
} 

.skill-row p{
    line-height: 1.5;
}

// to unfollow flaot property (voilate float property)
 .dd-description{
    clear: left;
 }

 .chilli-description{
    clear: right;
 }
*/